<ul>
  {% for resource in resources %}
    <li class="post">
      <div class="px-2 md:px-0">
        <h3>{{- resource.title -}}</h3>
        <p>{{ resource.description }}</p>
        <a
          href="{{ resource.url }}"
        >
          Download&nbsp;
          {{- resource.title -}}
          &nbsp;(
          {{- resource.size -}}
          )
        </a>
      </div>
      <hr class="my-5">
    </li>
  {% endfor %}
</ul>
