{%- set ogImage = null -%}
{%- if release -%}
  {%- set ogImage = release.cover_url -%}
{%- elif project -%}
  {%- set ogImage = project.image -%}
{%- elif articleHtml -%}
  {%- set ogImage = articleHtml | extractFirstImage -%}
{%- elif content -%}
  {%- set ogImage = content | extractFirstImage -%}
{%- endif -%}
{{- (ogImage or site.META.LOGO) | toAbsoluteUrl(site.META.CANONICAL) -}}
