---
layout: base.njk
---
<link rel="stylesheet" href="/styles/pagefind.css?ver={% getTimestamp %}">
<script src="/pagefind/pagefind-ui.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    new PagefindUI({ element: '#search', showSubResults: true })
  })
</script>
<h1 class="sr-only">{{ title }}</h1>
<div class="overflow-hidden border-4 border-solid border-black p-2 pb-10 text-center">
  <p class="font-mono">
    Search the entire Northern Information site.
    <br>
    Last indexed: {{ site.META.BUILD_TIME | dateToUTCFull }}
    <br>
  </p>
  <p>&#8258;</p>
  <noscript>
    <p class="py-4 text-center">JavaScript is required for search.</p>
  </noscript>
  <div id="search"></div>
</div>
